

.container{
    background-color: #E9E6E6;
    height: 280px;
    position: absolute;

}




h1 {

    background-color: #78F0B7;
    border-color:#178C55 ;
    font-size: 50px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
    border: 2px solid #178C55;
    text-align: center;
    color: white;
    
}

p{
    
    background-color:#24CCDA ;
    font-size: 23px;
    text-align: initial;
    color: white;
   

}

